@import '../neat/neat-helpers'; // or '../neat/neat-helpers' when not in Rails

// Neat Overrides
$column: 190px;
$gutter: 20px;
$grid-columns: 12;
$max-width: 900px;

// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);
$mobile: new-breakpoint(max-width 480px 4);
$tab: new-breakpoint(max-width 768px 4);
