/*
  Defined variables for Indian Springs Brand
*/

//Custom fonts
$p22: "p22", $arial;
$jd: "jd", $arial;

// Typography
$sans-serif: $arial;
$serif: $georgia;
$base-font-family: $serif;
$header-font-family: $serif;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(3);
$base-spacing-unit: $base-line-height;
$half-spacing-unit: $base-line-height / 2;

// Colors
$color-dark-brown: #362f2d;
$color-light-brown: #8e7d77;
$color-beige: #b2aa70;
$color-dark-gray: #4d4d4f;
$color-light-gray: #DDD;
$color-offwhite: #f8f1eb;
$color-offwhite2: #f4f4f4;

//Brand
$color-orange: #b7451c;
$color-blue: #556A89;
$color-green: #737c36;
$color-brown: #603813;

$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Background Color
$base-background-color: $color-offwhite;

// Font Colors
$base-font-color: $color-brown;
$base-accent-color: $color-beige;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $color-light-gray;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $sans-serif;

//Paths
$img-path: "../../images";
