/*------------------------------------*\
    NAVIGATION
\*------------------------------------*/

nav{
	&.nav--primary{
		@include span-columns(10);
		@include omega();
		margin-top: 16px;
		float: right;
		background: url(#{$img-path}/navigation-border.gif) bottom right no-repeat;
		ul{
			list-style-type: none;
			float: right;
			li{
				display: inline-block;
        position: relative;
				a{
					color: #603813;
					text-transform: uppercase;
					font-size: em(14);
					padding-bottom: 13px;
					padding-left: 8px;
					padding-right: 8px;
					&:hover{
						color: $color-orange;
					}
				}
				&.current-menu-item,
				&.current_menu_item{
					a{
						color: $color-orange;
						background: url(#{$img-path}/nav_on.gif) bottom center no-repeat;
					}
				}
        ul.sub-menu{
          display: none;
          @include animation(fadeIn 0.4s ease-in);
          opacity: 0;
          position: absolute;
          top: 30px;
          left: -4px;
          padding: 0 0 18px;
          min-width: 180px;
          z-index: 100;
          background: url(#{$img-path}/torn-page-nav.png) bottom center no-repeat;
          li{
            display: block;
            background-color: #fafafa;
            padding-left: 12px;
            padding-bottom: 6px;
            padding-top: 6px;
            border-bottom: 1px solid #ccc;
            &:last-child{
              border-bottom: 0;
            }
            &.menu-item-has-children{
              >a{
                &:after{
                  content: url(#{$img-path}/menu-arrow.png);
                }                
              }
            }
            a{
              font-size: em(14);
              padding: 0;
              display: block;
            }
            ul.sub-menu{
              @include animation(fadeIn 0.4s ease-in);
              display: none;
              opacity: 0;
              position: absolute;
              left: 180px;
              top: 0;
              li{
                a{
                  font-size: 100%;
                  padding: 0;
                  display: block;
                }
                &.current-menu-item,
                &.current_menu_item{
                  a{
                    color: $color-orange;
                    background: none;
                  }
                }
              }
            }
            &:hover{
              ul.sub-menu{
                opacity: 1;
                display: block;
              }
            }
            &.current-menu-item,
            &.current_menu_item{
              a{
                color: $color-orange;
              }
            }
          }
        }
        &:hover{
          ul.sub-menu{
            opacity: 1;
            display: block;
          }
        }
			}
		}

		@include media($mobile){
			@include span-columns(4);
			height: 10px;
			ul.menu{
				display: none;
				visibility: hidden;
			}
		}

	}
}

//Mobile menu
$sliding-menu-border-color: #ccc;
$sliding-menu-background: lighten($sliding-menu-border-color, 5);
$sliding-menu-color: #fff;
$sliding-menu-border: 1px solid $sliding-menu-border-color;
$sliding-menu-background-hover: $base-accent-color;
$sliding-menu-color-hover: #fff;

.sliding-menu-button {  
  border-radius: 0;
  background-color: rgba(96, 56, 19, 0.4);
  cursor: pointer;
  width: 40px;
  height: 38px;
  margin: 20px 0 0 15px;
  padding: 8px 8px;
  outline: none;
  float: right;
  span{
  	width: 100%;
  	margin-bottom: 3px;
  	display: block;
  	height: 3px;
  	background-color: $color-brown;
  	position: relative;
  }
  &:hover,&:focus{
    background-color: $color-brown;
    span{
      background-color: #fff;
    }
  }
  @include media($large-screen){
    visibility: hidden;
    display: none;
  }
}

.sliding-menu-content {
  @include position(fixed, 0px auto 0px 0px);
  @include size(220px 100%);
  @include transform(translateX(-220px));
  @include transition(all .25s linear);
  background: url(#{$img-path}/back.gif) top left repeat;
  z-index: 999999;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  ul{
    margin: 0;
    padding: 0;
  }
  li{
    list-style-type: none;
  }

  li a {
    background: url(#{$img-path}/dbl-hor-border.png) bottom left repeat-x;
    color: $color-brown;
    display: block;
    text-transform: uppercase;
    font-weight: normal;
    padding: 1em;

    &:hover {
      background-color: lighten($color-brown, 20%);
      color: $color-orange;
    }
  }

  &.is-visible {
    @include transform(translateX(0));
  }
}

.menu-screen {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: $color-brown;
  opacity: 0;
  visibility: hidden;
  z-index: 999998;

  &.is-visible {
    opacity: .4;
    visibility: visible;
  }
}