/*------------------------------------*\
    RESPONSIVE STRUCTURE
\*------------------------------------*/
@media all and (max-width: 900px){
	header{
		margin: 0 0 20px 0;
		.social--connect{
		  @include span-columns(12);
		  float: right;
		  ul.social-icons{
			float: right;
			margin-top: 25px;
		  }
		}
		.logo{
			position: absolute;
			top: 5px;
			width: 130px;
		}
	}
	.mobile-break{
		display: block;
	}
	section.main{
		min-height: inherit;
	}
	.front-page--slider{
		background-image: none!important;
		min-height: inherit;
		.static-image,
		.slide-1,
		.slide-2,
		.slide-3{
		  display: none;
		}
		.slide-4{
		  display: block;
		  position: relative;
		  margin: 20px auto;
		}
	}
	.outer-container{
		@include span-columns(12);
		@include omega();
		padding: 0 5%;
		float: none;
		.nav--primary{
		  display: none;
		  .menu-main-menu-container{
				display: none;
		  }
		}
		section.featured{
			.feature{
				width: 100%;
				max-width: 430px;
				float: none;
				margin: 0 auto;
			}
	}
	section.quality .two-thirds,
	section.quality aside.page-sidebar{
	  float: none;
	  width: 80%;
	  margin: 0 auto;
	}
	section.quality aside.page-sidebar{
	  background-image: none!important;
	  margin-top: 30px;
	  padding: 0;
	}
	section.quality .content--main .quality-p-one{
	  width: 47%;
	  margin-left: 0;
	}
	section.quality .content--main .quality-p-two{
	  margin-left: 0;
	}
	}
	article.front-page--intro,
	.blog{
		h1{
		  font-size: 1.875em;
		  text-align: center;
		}
	}
	section.story .content--story span.headline{
	font-size: 1.875em;
	}
	section.page-default .content--main h2{
	font-size: 1.375em;
	}
	section.products--slider{
		height: auto;
		background: none!important;
		margin-top: 0;
	}
	section.products--slider .static-image{
		display: none;
	}
	section.products--slider .image-group{
		position: relative;
		width: 100%;
		max-width: 470px;
		height: auto;
		margin: 0 auto;
	}
	.single_column_sidebar {
		.products--area {
			width: 45%;
			margin: 0 5% 0 0;
			float: left;
		}
		.sidebar-right {
			width: 50%;
			padding: 0 0 0 5%;
		}
	}
	.blog {
		.blog--content {
			width: 55%;
			h1{
				text-align: left;
			}
		}
		.blog--sidebar {
			width: 40%;
			padding: 0 0 0 5%;
		}
	}
	section.products--list .product,
	section.products--list .product p{
		padding: 0;
	}
	section.products--list .product .list--featured-image{
		width: 35%;
		max-width: none;
		margin-right: 5%;
	}

	section.products--list .product .list--featured-info{
		width: 60%;
		min-height: 200px;
	}
	section.products--list .two_column_grid .product{
		width: 45%;
		margin-right: 5%;
		padding-right: 0;
	}
	section.products--list .two_column_grid .product:nth-child(2n){
		margin-left: 5%;
	}

}
@media all and (max-width: 780px){
  article.front-page--intro,
  .blog{
    h1{
      font-size: 1.375em;
    }
  }
  section.story .content--story span.headline{
    font-size: 1.375em;
  }
  section.page-default .content--main h2{
    font-size: 1.175em;
  }
  .outer-container{
    section.quality .two-thirds,
    section.quality aside.page-sidebar{
      float: none;
      width: 90%;
    }
  }
	section.product .product--intro article{
		width: 49.2%;
	}
	section.product .product--intro .sticky{
		width: 50%;
	}
	section.where-to-buy .featured--image{
		float: none;
		width: 100%;
		text-align: center;
		img{
			float: none;
			display: inline-block;
			text-align: center;
		}
	}
	section.where-to-buy .where-to-buy-content{
		width: 100%;
		padding: 0;
	}
}
@media all and (max-width: 680px) {
  section.story .content--story img.alignright{
    float: none;
  }
  section.story .content--story p:first-of-type{
    text-align: center;
  }
  .page-default{
    .contact-info{
      padding: 80px 0 0 50px;
    }
  }
	section.product .product--intro article{
		width: 100%;
		margin: 0;
	}
	section.product .product--intro .sticky{
		width: 100%;
		margin: 0;
	}
	section.product--details .details--left {
		float: none;
		width: 100%;
		margin: 0;
		padding-right: 20px;
		padding-left: 20px;
		text-align: center;
		img{
			width: 100%;
			max-width: 150px;
		}
		.details--info{
			text-align: left;
		}
	}
	section.product--details .details--right {
		float: none;
		margin: 0;
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		h2{
			font-size: em(24px);
		}
	}
	section.where-to-buy-links .link-group {
		float: left;
		margin: 0;
		width: 50%;
	}
}
@media all and (max-width: 580px){
  header{
  	margin: 0;
    a.join{
    }
    .logo{
		position: relative;
		top: auto;
		float: left;
		display: block;
		margin-right: 2.43902%;
		width: 100%;
		text-align: center;
    }
	.social--connect{
		ul.social-icons{
			float: left;
			margin-top: 20px;
			margin-left: 0;
			padding: 0;
			display: inline-block;
		}
	}
  }
  article.front-page--intro{
  	padding-bottom: $gutter;
  }
  .outer-container{
	  .nav--primary {
		  float: left;
		  display: block;
		  margin-right: 0;
		  width: 100%;
		  height: 10px;
	  }
    section.quality .two-thirds,
    section.quality aside.page-sidebar{
      float: none;
      width: 100%;
    }
    section.quality{
      .content--main{
        .quality-p-one,
        .quality-p-two{
          margin-top: 0;
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }
  .page-default{
    .contact-info{
      padding: 80px 0 0 30px;
    }
  }
	.single_column_sidebar {
		.products--area {
			width: 100%;
			margin: 0;
			float: none;
		}
		.sidebar-right {
			width: 100%;
			padding: 0;
			float: none;
			background: none;
		}
	}
	section.products--list .product .list--featured-image{
		width: 40%;
		max-width: 94px;
		margin-right: 5%;
	}

	section.products--list .product .list--featured-info{
		width: 70%;
		min-height: initial;
	}
	section.product .product--intro .sticky .usa-flag{
		margin: 0;
	}
	.blog {
		.blog--content {
			width: 100%;
			margin: 45px auto 0 auto;
		}
		.blog--sidebar {
			width:100%;
			padding: 0;
			margin: 0 auto 45px auto;
			.blog--sidebar-image{
				display: none;
			}
		}
	}
	section.products--list .two_column_grid .product{
		width: 100%;
		margin-right: 0;
		padding-right: 0;
	}
	section.products--list .single_column_sidebar .products{
		width: 100%;
	}
	section.products--list .single_column_sidebar aside{
		background: none;
		width: 75%;
		padding-left: 0;
		min-height: inherit;
		float: none;
		margin: 0 auto;
	}
	section.products--list .single_column_sidebar aside:last-child{
		margin-right: auto;
	}
	section.products--list .two_column_grid .product:nth-child(2n){
		margin-left: 0;
	}
	section.where-to-buy-links .link-group {
		float: none;
		margin: 0;
		width: 100%;
	}
}

@media all and (max-width: 480px){
.outer-container{
section.featured{
  .feature{
	.content{
	  padding-top: 20px;
	  padding-right: 5px;
	}
  }
}
article.front-page--intro,
.blog{
  h1{
	font-size: 1.275em;
  }
}
section.story .content--story span.headline{
  font-size: 1.275em;
}
}
.page-default{
.contact-info{
  padding: 0;
}
.col-half{
  @include span-columns(12);
  @include omega();
  float: none;
}
}
section.products--list .product .list--featured-image{
	width: 35%;
	max-width: none;
	margin-right: 5%;
}

section.products--list .product .list--featured-info{
	width: 60%;
}
	section.product--details .details--left,
	section.product--details .details--right {
		padding-left: 0;
		padding-right: 0;
	}
}