.sprite,
.icon{
    display:inline-block;
    line-height:1;
    position:relative;
    vertical-align:middle;
    zoom:1;
    /**
     * So using `.icon` on certain elements doesn’t make a visual difference.
     */
    font-style:normal;
    font-weight:normal;
    /**
     * So icons added using `.icon` sit in the centre of the element.
     */
    text-align:center;
}
.sprite{
    /**
     * The typical size of most icons. Override in your theme stylesheet.
     */
    width: 16px;
    height:16px;
    top:-1px;

    /*
     * H5BP method image replacement:
     * github.com/h5bp/html5-boilerplate/commit/adecc5da035d6d76b77e3fa95c6abde841073da2
     */
    overflow:hidden;
   *text-indent:-9999px;

    &:before{
        content:"";
        display:block;
        width:0;
        height:100%;
    }
}