/*------------------------------------*\
    BLOG
\*------------------------------------*/
.blog {
	h1{
		font-size: 2.375em;
		margin: 20px 0 0 0;
		color: #603813;
		font-family: "p22", Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-weight: lighter;
		letter-spacing: 1px;
		word-spacing: 3px;
	}
	.blog--content {
		width: 65%;
		margin: 45px 5% 45px 0;
		float: left;
		h1{
			a,
			a:link,
			a:visited{
				color: #603813;
				font-size: 26px;
				line-height: 1.2em;
				font-family: $p22;
				font-weight: normal;
				&:hover{
					color: $color-blue;
				}
			}
		}
		p{
			-webkit-font-smoothing: antialiased;
			color: #603813;
			font-size: 14px;
			line-height: 1.7em;
			font-family: georgia, times, times new roman, serif;
		}
		strong{
			font-family: arial, helvetica, sans-serif;
			font-weight: bold;
			font-size: 12px;
			color: #603813;
		}
		a,
		a:link,
		a:visited{
			color: #556a8a;
			font-family: arial, helvetica, sans-serif;
			font-weight: normal;
			font-size: 12px;
		}
		a:hover{
			color: #213c63;
		}
		.blog--divider{
			width: 100%;
			margin: 20px 0 0 0;
			img{
				width: 100%;
			}
		}
		h2.comments-header,
		h2#comments-header{
			font-weight: normal;
			font-family: $serif;
			font-size: em(18);
		}
	}

	/*    INGREDIENTS
	\*------------------------------------*/

	.blog--sidebar {
		position: relative;
		width: 30%;
		padding: 0 0 0 5%;
		margin: 45px 0 0 0;
		float: left;
		display: inline-block;
		color: #603813;
		.blog--sidebar-image{
			position: absolute;
			left: 0;
		}
		h3{
			margin: 15px 0 0 0;
			font-family: georgia, times, times new roman, serif;
			background-image: url("/wp-content/themes/vpf/assets/images/border_note.gif");
			background-repeat: no-repeat;
			font-weight: normal;
			font-size: 18px;
			background-position: 0 23px;
			padding-bottom: 20px;
			padding-left: 13px;
			color: #603813;
		}
		ul{
			margin: 0 20px;
			padding: 0;
			list-style: none;
			li{
				padding-bottom: 15px;
				font-size: 12px;
				padding: 0 0 15px 12px;
				line-height: 1.4em;
				a{
					color: #556a8a;
				}
				a:hover{
					color: #213c63;
				}
			}
		}
	}
}