/*------------------------------------*\
    FRONT-PAGE
\*------------------------------------*/

article{
	&.front-page--intro{
		@include span-columns(12);
		padding-top: $gutter;
		h1{
			font-size: em(38);
			color: $color-brown;
			font-family: $p22;
			font-weight: normal;
			letter-spacing: 1px;
			word-spacing: 3px;
		}
		@include media($mobile){
			@include omega();
			padding-left: $gutter;
			padding-right: $gutter;
			text-align: center;
			h1{
				font-size: em(30);
			}
		}
	}
}

.front-page--slider{
	@include span-columns(12);
	min-height: 400px;
	background-position: 0 0;
	background-repeat: no-repeat;
	position: relative;

	.image-group{
		position: absolute;
		width: 180px;
		height: 180px;
		border: 1px solid red;
	}
}