/*------------------------------------*\
    FRONT-PAGE
\*------------------------------------*/

article{
	&.front-page--intro{
		@include span-columns(12);
		@include animation(fadeIn 0.6s ease-in);
		
		padding-top: $gutter;
		h1{
			font-size: em(38);
			color: $color-brown;
			font-family: $p22;
			font-weight: lighter;
			letter-spacing: 1px;
			word-spacing: 3px;
			opacity: 0.9;
		}
		@include media($mobile){
			@include omega();
			padding-left: $gutter;
			padding-right: $gutter;
			text-align: center;
			h1{
				font-size: em(30);
			}
		}
	}
}

.front-page--slider{
	@include span-columns(12);
	@include animation(fadeIn 0.6s ease-in);

	min-height: 400px;
	background-position: 0 0;
	background-repeat: no-repeat;
	position: relative;

	.image-group{
		position: absolute;
		width: 260px;
		height: 186px;
		img{
			display: none;
			&:first-child{
				display: block;
			}
		}
	}
	.static-image{
		position: absolute;
		width: 270px;
		height: 192px;
	}
}

section.featured{
	@include span-columns(12);
	min-height: 200px;
	background: url(#{$img-path}/full-width-border.gif) top center no-repeat;
	padding-top: 60px;

	.feature{
		@include span-columns(6 of 12);
		@include omega(2n);
		min-height: 180px;

		.content{
			@include span-columns(4 of 6);
			color: $color-brown;
			margin-left: 130px;
			margin-top: 38px;
			padding-right: 30px;
			h4{
				font-family: $georgia;
				font-size: 1em;
				line-height: 1.4;
				font-weight: 500;
			}
			a{
				color: $color-brown;
				&:hover{
					color: $color-orange;
				}
			}
			p{
				font-family: $helvetica;
				font-size: em(12);
			}
		}

		&.left{
			background-image: url(#{$img-path}/featured-whats-new.png);
			background-repeat: no-repeat;
			background-position: 0 0;
		}

		&.right{
			background-image: url(#{$img-path}/featured-why-mix.png);
			background-repeat: no-repeat;
			background-position: 0 -6px;
		}
	}
}