/*------------------------------------*\
    PRODUCTS
\*------------------------------------*/

section.products--slider{
	@include span-columns(12);
	margin-top: $gutter;
	margin-bottom: $gutter;
	min-height: 200px;
	height: 344px;
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;

	.image-group{
		position: absolute;
		width: 470px;
		height: 340px;
		img{
			display: none;
			&:first-child{
				display: block;
			}
		}
	}
	.static-image{
		position: absolute;
		width: 460px;
		height: 320px;
	}
}

section.product{
	@include span-columns(12);
	padding-bottom: $base-line-height;
	
	.outer-container{
		background: url(#{$img-path}/dbl-hor-border.png) bottom left repeat-x;	
	}
	.product--intro{
		@include span-columns(12 of 12);
		padding-bottom: $gutter;
		article{
			@include span-columns(8 of 12);
			
			color: $color-brown;
			p{
				font-size: em(18);
				padding-right: $gutter;
				&.available-size{
					font-size: em(12);
					font-family: $sans-serif;
				}
			}
		}

		.sticky{
			@include span-columns(4 of 12);
			@include omega();
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 100 100;

			.usa-flag{
				float: left;
				display: block;
				width: 100%;
				margin-left: 20px;
				margin-top: 16px;
				padding-left: 52px;
				color: $color-brown;
				font-family: $georgia;
				background: url(#{$img-path}/usa-flag.png) center left no-repeat;
			}
		}
			
		h1,h2,h3,h4,h5,h6{
			font-family: $georgia;
			font-weight: normal;
			line-height: 100%;
		}
		h1{
			font-size: em(25);
			i.tagline{
				font-size: 13px;
				font-style: italic;
				color: $color-brown;
			}
		}

		.main--title{
			margin-bottom: $base-line-height / 2;
			word-spacing: 2px;
		}

		&.blue{
			h1,h2,h3{
				color: $color-blue;
			}
		}
		&.orange{
			h1,h2,h3,h3,h4,h5,h6{
				color: $color-orange;
			}

		}
	}

}

section.products--list{
	@include span-columns(12);
	padding-bottom: 45px;

	.page--footer{
		@include span-columns(12);
		padding-top: 20px;
		background: url(#{$img-path}/dbl-hor-border.png) top left repeat-x;
		min-height: 300px;
		text-align: center

		img{
			margin-left: auto;
			margin-right: auto;
		}
		@include media($mobile){
			display: none;
		}
	}

	.single_column_sidebar{
		@include span-columns(12);

		.products{
			@include span-columns(7 of 12);
			padding-right: $gutter;
			padding-top: $gutter * 2;
		}

		aside{
			@include span-columns(5 of 12);
			padding-top: $gutter * 2;
			padding-left: $gutter;
			min-height: 646px;
			background: url(#{$img-path}/divider_sidebar.gif) left center no-repeat;
		}

	}

	.two_column_grid{
		@include span-columns(12);

		.product{
			@include span-columns(6 of 12);
			@include omega(2n);
			padding-right: $gutter;
			padding-top: $gutter;
			background: url(#{$img-path}/border_row.gif) bottom center no-repeat;

			// &:last-child{
			// 	background: none;
			// }

			.list--featured-image{
				float: left;
				width: 72px;
				margin-right: $gutter;
				padding: 15px 0 0 0;
				img{
					display: block;
				}
			}
		}

		aside{
			display: none;
		}

	}

	.product{
		float: left;
		width: 100%;
		padding-right: $gutter;
		margin-bottom: $gutter;
		background: url(#{$img-path}/border_footer.gif) bottom right repeat-x;

//		&:last-child{
//			background: none;
//		}

		&.blue{
			h1,h2,h3,h4,h5,h6,a,span{
				color: $color-blue;
				a:hover{
					color: $color-brown;
				}
			}
		}
		&.orange{
			h1,h2,h3,h4,h5,h6,a,span{
				color: $color-orange;
				a:hover{
					color: $color-brown;
				}
			}
		}
		h4{
			font-family: $serif;
			font-weight: normal;
			font-size: em(17);
			line-height: 1.4;
			margin-top: 1em;
			&.standard{
				color: $color-brown!important;
			}
		}
		span.sub-title{
			display: block;
			font-size: em(13);
			font-style: italic;
			line-height: 1;
		}

		p{
			font-family: $sans-serif;
			font-size: em(13);
			padding-right: $gutter * 2;
			margin-top: 1em;
			.small-image{
				margin-top: 1em;
					display: block;
			}
		}

		.list--featured-image{
			float: left;
			width: 40%;
			max-width: 94px;
			margin-right: 5%;
			padding: 10px 0 0 0;
			margin-bottom: 10px;
			img{
				display: block;
			}
		}

		.list--featured-info{
			position: relative;
			display: inline-block;
			float: left;
			width: 70%;
			margin: 0 0 10px 0;

			.image--align{
				&.right{
					img{
						float: right;	
					}
					p{
						float: left;
						width: 64%;
					}
				}
			}
		}

	}
	
}

section.product--details{
	@include span-columns(12);
	padding-top: 1em;
	.details--left{
		@include span-columns(4 of 12);
		padding-right: $gutter;
		padding-left: $gutter;

		p{
			font-size: em(11);
			font-family: $sans-serif;
			line-height: 1.4;
		}
		.details--info {
			font-size: em(11);
			font-family: $sans-serif;
			line-height: 1.4;
			&:last-child{
				margin: 0;
				background: url(#{$img-path}/border_note.gif) bottom center no-repeat;
				padding-bottom: $gutter;
			}
		}
		&.blue{
			.details--info{
				strong{
					color: $color-blue;
				}
			}
		}
		&.orange{
			.details--info{
				strong{
					color: $color-orange;
				}
			}
		}
	}

	.details--right{
		@include span-columns(8 of 12);
		padding-left: $gutter;
		padding-right: $gutter;
		&.blue{
			h1,h2,h3,h4,h5,h6,a,span,div{
				color: $color-blue;
			}
		}
		&.orange{
			h1,h2,h3,h4,h5,h6,a,span,div{
				color: $color-orange;
			}
		}

		h2{
			font-weight: normal;
			font-size: em(30);
			line-height: 1.3;
		}

		span.sub-title{
			display: block;
			font-size: em(16);
			font-style: italic;
			line-height: 1;
		}
		p{
			color: $color-brown;
		}
		.primary-description{
			font-style: italic;
			margin: 0;
			padding: 1em 0 1em;
			font-size: em(14);
			line-height: 1.5;
			&.blue{
				color: $color-blue;
			}
			&.orange{
				color: $color-orange;
			}
		}
		.natural-text{
			color: $color-green!important;
			font-style: italic;
			padding: 1em 0 1em;
			margin: 0;
		}
		.ingredients{
			margin: 0 0 1em;
			font-size: em(12);
			padding: 0;
			font-family: $sans-serif;
			line-height: 1.4;
		}
		.vitamins{
			margin: 0 0 1em;
			font-size: em(12);
			padding: 0;
			font-family: $sans-serif;
			line-height: 1.4;
		}
		.minerals{
			margin: 0 0 1em;
			font-size: em(12);
			padding: 0;
			font-family: $sans-serif;
			line-height: 1.4;
		}
		.feeding-guide{
			margin: 0 0 1em;
			font-size: em(12);
			padding: 0;
			font-family: $sans-serif;
			line-height: 1.4;
		}
		hr.detail-border{
			width: 100%;
			height: 10px;
			background: transparent url(#{$img-path}/detail-border.png) bottom left no-repeat;
			border: none;
			margin: 0;
		}
	}
}