/*------------------------------------*\
    STORY
\*------------------------------------*/

section.story{
	@include span-columns(12);
	min-height: 300px;
	margin-top: $gutter;

	.content--story{
		max-width: 850px;
		padding: $gutter;
		background-color: #fff;
		margin-left: auto;
		margin-right: auto;
		color: $color-brown;
		.alignright{
			float: right;
		}
		span.headline{
			font-family: $p22;
			color: $color-brown;
			font-size: em(32);
			line-height: 1.2;
		}
		h3,h4,h5{
			margin-top: $gutter;
			&.orange{
				color: $color-orange;
				font-family: $jd;
				font-weight: normal;
			}
		}
	}

	.page-bottom{
		max-width: 850px;
		height: 60px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: $gutter;
		background: url(#{$img-path}/story-paper-background.png) top left no-repeat;
	}
}